samples/PPHackathon24_1_0_0_5/Workflows/PAFlow-Translatehandwrittentext-C070F5EE-E05A-EE11-BE6F-000D3A37BF00.json
{
  "properties": {
    "connectionReferences": {
      "shared_microsofttranslatorv_1": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "aldan_sharedmicrosofttranslatorv_42e0b"
        },
        "api": {
          "name": "shared_microsofttranslatorv"
        }
      },
      "shared_sharepointonline": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "aldan_sharedsharepointonline_a73eb"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      },
      "shared_apptigentpowertoolspro_1": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "aldan_sharedapptigentpowertoolspro_dcb3b"
        },
        "api": {
          "name": "shared_apptigentpowertoolspro"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "3db734e1-422d-497a-a393-c073382dee7a"
          },
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "ParseJSON",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_1": {
                  "title": "LangToTranslate",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text",
                "text_1"
              ]
            }
          }
        }
      },
      "actions": {
        "Parse_JSON_-_AI_Builder_Text_Recognition_Output": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "c7e22a3f-0008-4dc1-8299-f20e80426194"
          },
          "type": "ParseJson",
          "inputs": {
            "content": "@triggerBody()['text']",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "BoundingBox": {
                    "type": "object",
                    "properties": {
                      "Height": {
                        "type": "number"
                      },
                      "Left": {
                        "type": "number"
                      },
                      "Top": {
                        "type": "number"
                      },
                      "Width": {
                        "type": "number"
                      }
                    }
                  },
                  "PageNumber": {
                    "type": "integer"
                  },
                  "Text": {
                    "type": "string"
                  }
                },
                "required": [
                  "BoundingBox",
                  "PageNumber",
                  "Text"
                ]
              }
            }
          }
        },
        "Initialize_variable_ExtractedText": {
          "runAfter": {
            "Parse_JSON_-_AI_Builder_Text_Recognition_Output": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "187ee69e-f511-4836-9530-bc1bdb8ca531"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Extracted text",
                "type": "string"
              }
            ]
          }
        },
        "Apply_to_each_-_JSON_Text_line": {
          "foreach": "@body('Parse_JSON_-_AI_Builder_Text_Recognition_Output')",
          "actions": {
            "Compose": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "de6283d0-bea6-43b0-be0d-48ddfb239bda"
              },
              "type": "Compose",
              "inputs": "@items('Apply_to_each_-_JSON_Text_line')['Text']"
            },
            "Append_to_string_variable_ExtractedText": {
              "runAfter": {
                "Compose": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "bf9dc114-fb11-46f6-bf31-34d6f461960e"
              },
              "type": "AppendToStringVariable",
              "inputs": {
                "name": "Extracted text",
                "value": "@outputs('Compose')"
              }
            }
          },
          "runAfter": {
            "Initialize_variable_ExtractedText": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "212a7b3b-da3d-48eb-ab81-2d214a4d1aef"
          },
          "type": "Foreach"
        },
        "Translate_text": {
          "runAfter": {
            "Apply_to_each_-_JSON_Text_line": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "fe4c3ec5-caac-43aa-b684-2a55925b25ac"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_microsofttranslatorv_1",
              "operationId": "Translate",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_microsofttranslatorv"
            },
            "parameters": {
              "from": "Auto-detect",
              "to": "@triggerBody()['text_1']",
              "body": [
                {
                  "Text": "@variables('Extracted text')"
                }
              ],
              "textType": "plain",
              "profanityAction": "NoAction",
              "profanityMarker": "Asterisk",
              "includeSentenceLength": "false",
              "category": "general",
              "allowFallback": "false"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Respond_to_a_PowerApp_or_flow": {
          "runAfter": {
            "Get_file_properties": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "41f0e163-e1c8-4822-a220-4c2f91791a79"
          },
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "statusCode": 200,
            "body": {
              "extractedtext": "@variables('Extracted text')",
              "translatedtext": "@variables('TranslatedText')",
              "audiofile": "@outputs('Get_file_properties')?['body/{Link}']"
            },
            "schema": {
              "type": "object",
              "properties": {
                "extractedtext": {
                  "title": "ExtractedText",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                },
                "translatedtext": {
                  "title": "TranslatedText",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                },
                "audiofile": {
                  "title": "AudioFile",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                }
              }
            }
          }
        },
        "Initialize_variable_TranslatedText": {
          "runAfter": {
            "Translate_text": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "656742ad-0035-48ab-93f8-3505990ab00e"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "TranslatedText",
                "type": "string"
              }
            ]
          }
        },
        "Apply_to_each_Translated_Text_Line": {
          "foreach": "@body('Translate_text')",
          "actions": {
            "Set_variable": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "7736688a-1f06-43f5-b6f4-3c2f218a96d5"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "TranslatedText",
                "value": "@{items('Apply_to_each_Translated_Text_Line')?['TranslatedText']}"
              }
            }
          },
          "runAfter": {
            "Initialize_variable_TranslatedText": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "92ffbdb9-908f-47bf-80d0-cd7a6c5611db"
          },
          "type": "Foreach"
        },
        "Apply_to_each": {
          "foreach": "@body('Translate_text')",
          "actions": {
            "Create_file": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "ed7d2656-8927-4c21-b3fb-b58d1a97e816"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_sharepointonline",
                  "operationId": "CreateFile",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                },
                "parameters": {
                  "dataset": "https://d365demotss640777.sharepoint.com",
                  "folderPath": "/Shared Documents/GlobalAIzer",
                  "name": "@{concat('SpeechFile_', formatDateTime(utcNow(), 'dd_MM_yyyy_HH_mm_ss'))}.wav",
                  "body": "@item()?['TranslatedText']"
                },
                "authentication": "@parameters('$authentication')"
              },
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                }
              }
            }
          },
          "runAfter": {
            "Apply_to_each_Translated_Text_Line": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "3d08ab71-bf9b-4b81-966f-8295f6ee6aa8"
          },
          "type": "Foreach"
        },
        "Text_-_Text_to_Speech": {
          "runAfter": {
            "Apply_to_each": [
              "Succeeded",
              "Failed",
              "Skipped",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "90e1f16e-60d5-4d5f-918d-7295762730e0"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_apptigentpowertoolspro_1",
              "operationId": "TextToSpeech",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_apptigentpowertoolspro"
            },
            "parameters": {
              "inputTextToSpeech/text": "@variables('TranslatedText')",
              "inputTextToSpeech/type": "PlainText",
              "inputTextToSpeech/voice": "de-DE, Hedda (Female)"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Create_audio_file_in_SharePoint": {
          "runAfter": {
            "Text_-_Text_to_Speech": [
              "Succeeded",
              "Failed",
              "Skipped",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "b51080aa-95da-458f-b969-fa439fc3f3e4"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_sharepointonline",
              "operationId": "CreateFile",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
            },
            "parameters": {
              "dataset": "https://d365demotss640777.sharepoint.com",
              "folderPath": "/Shared Documents/GlobalAIzer",
              "name": "@{concat('SpeechFile_', formatDateTime(utcNow(), 'dd_MM_yyyy_HH_mm_ss'))}.wav",
              "body": "@body('Text_-_Text_to_Speech')"
            },
            "authentication": "@parameters('$authentication')"
          },
          "runtimeConfiguration": {
            "contentTransfer": {
              "transferMode": "Chunked"
            }
          }
        },
        "Get_file_properties": {
          "runAfter": {
            "Create_audio_file_in_SharePoint": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "3465172a-dffd-4e43-a032-5d4867aea2f4"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_sharepointonline",
              "operationId": "GetFileItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
            },
            "parameters": {
              "dataset": "https://d365demotss640777.sharepoint.com",
              "table": "39b58b01-406c-4170-86ad-d2ccab1a87a6",
              "id": "@outputs('Create_audio_file_in_SharePoint')?['body/ItemId']"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}